<launch>

  <node pkg="mf_pid_controller" type="mf_pid_controller_node" name="mf_pid_controller" respawn="true" clear_params="true" output="screen">
  </node>

<node pkg="fuzzy_logic_control" type="fuzzy_logic_control_node" name="fuzzy_logic_control" output="screen">
                 
  </node>


</launch>
